.jobs-container {
  width: inherit;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.add-job {
  cursor: pointer;
  width: 25vw;
  height: 5vh;
  margin-top: 3vh;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #777777;
  background-color: #ffffff;
  font-size: 2em;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.19);
}
